#VARIABLES

1. Which of the following identifier names are invalid and why?

(a) Serial_no-
(b) 1st_Roo
(c) Hundred7
(d)Total_Mark3
(e) total-Mark3
(f) Total Marks'
(g) Tru#
(h)_Percentag


sol-*Invalid identifier names and reasonsX*

(b) 1st_Room: Identifiers cannot start with a digit
(c) Hundred$: Identifiers cannot contain special characters other than underscore (_)
(e)total-Marks: Identifiers cannot contain hyphens (-)
(d)Total Marks: identifier cannot contain space
(g) True: Identifiers cannot contain spaces or the reserved keyword True.

*Valid identifier namesX*

(a) Serial_no: Contains an underscore character, which is allowed
(d) Total_Marks: Contains an underscore character, which is allowed
(h)_Percentag: Starts with an underscore character, which is allowed.


2. Write the corresponding Python assignment statements:

(a) Assign 10 to variable length and 20 to variable breadth-
(b) Assign the average of values of variables length and breadth to a variable sum-
(c) Assign a list containing strings 'Paper', 'Gel Pen', and 'Eraser' to a variable stationery-
(d) Assign the strings 'Mohandas', 'Karamchand', and 'Gandhi' to variables first, middle and last-
(e) Assign the concatenated value of string variables first, middle, and last to variable fullname.

In [1]:
# Assign 10 to variable length and 20 to variable breadth
length = 10
breadth = 20

# Assign the average of values of variables length and breadth to a variable sum
sum = (length + breadth) / 2

# Assign a list containing strings 'Paper', 'Gel Pen', and 'Eraser' to a variable stationery
stationery = ['Paper', 'Gel Pen', 'Eraser']

# Assign the strings 'Mohandas', 'Karamchand', and 'Gandhi' to variables first, middle and last
first, middle, last = 'Mohandas', 'Karamchand', 'Gandhi'

# Assign the concatenated value of string variables first, middle, and last to variable fullname
fullname = first + middle + last

3.What is the difference between static and dynamic variables in Python?

sol-1. Static Variables
Definition:
In Python, static variables are usually class variablesâ€”they belong to the class itself, not to individual objects (instances).

Behavior:
Their value is shared by all objects of that class. Changing the value from one object affects all other objects (unless shadowed by an instance variable).

Lifetime:
Exists for the entire runtime of the program after being defined in the class.

In [2]:
class Example:
    static_var = 10  # static variable

obj1 = Example()
obj2 = Example()

print(obj1.static_var)  # 10
print(obj2.static_var)  # 10

Example.static_var = 20  # change via class
print(obj1.static_var)   # 20
print(obj2.static_var)   # 20

10
10
20
20

2. Dynamic Variables
Definition:
These are instance variables or local variables created at runtime. They are unique to each object or scope.

Behavior:
Each object can have its own separate copy of the variable.

Lifetime:
Exists only as long as the object or scope exists

In [3]:
class Example:
    def __init__(self, value):
        self.dynamic_var = value  # dynamic variable

obj1 = Example(10)
obj2 = Example(20)

print(obj1.dynamic_var)  # 10
print(obj2.dynamic_var)  # 20

10
20

4.name = ["Mohan", "dash", "karam", "chandra","gandhi","Bapu"]
do the following operations in this list;
(a) add an element "freedom_fighter" in this list at the 0th index-
(b) find the output of the following ,and explain how?

In [5]:
name = ["freedomFighter", "Bapuji", "MOhan", "dash", "karam",
        "chandra", "gandhi"]

length1 = len(name[-len(name) + 1 : -1 : 2])
length2 = len(name[-len(name) + 1 : -1])

print(length1 + length2)

8

(c) add two more elements in the name ["NetaJi","Bose"] at the end of the list-
(d) what will be the value of temp:
name = ["Bapuji", "dash", "karam", "chandra","gandi","Mohan"]
temp=name[-1]
name[-1]=name[0]
name[0]=temp
print(name)


sol-1. Add "freedom_fighter" at the 0th index

In [6]:
name = ["Mohan", "dash", "karam", "chandra", "gandhi", "Bapu"]
name.insert(0, "freedom_fighter")
print(name)

['freedom_fighter', 'Mohan', 'dash', 'karam', 'chandra', 'gandhi', 'Bapu']

In [7]:
['freedom_fighter', 'Mohan', 'dash', 'karam', 'chandra', 'gandhi', 'Bapu']

['freedom_fighter', 'Mohan', 'dash', 'karam', 'chandra', 'gandhi', 'Bapu']

2. Understanding the slicing calculation

In [8]:
name = ["freedomFighter", "Bapuji", "MOhan", "dash", "karam", "chandra", "gandhi"]

length1 = len(name[-len(name) + 1 : -1 : 2])
length2 = len(name[-len(name) + 1 : -1])

print(length1 + length2)

8

3. Add two more elements ["NetaJi", "Bose"] at the end

In [9]:
name.extend(["NetaJi", "Bose"])
print(name)

['freedomFighter', 'Bapuji', 'MOhan', 'dash', 'karam', 'chandra', 'gandhi', 'NetaJi', 'Bose']

In [10]:
['freedom_fighter', 'Mohan', 'dash', 'karam', 'chandra', 'gandhi', 'Bapu', 'NetaJi', 'Bose']

['freedom_fighter',
 'Mohan',
 'dash',
 'karam',
 'chandra',
 'gandhi',
 'Bapu',
 'NetaJi',
 'Bose']

4. Swapping first and last elements

In [11]:
name = ["Bapuji", "dash", "karam", "chandra", "gandi", "Mohan"]

temp = name[-1]   # temp = 'Mohan'
name[-1] = name[0]  # last becomes 'Bapuji'
name[0] = temp      # first becomes 'Mohan'

print(name)

['Mohan', 'dash', 'karam', 'chandra', 'gandi', 'Bapuji']

In [12]:
['Mohan', 'dash', 'karam', 'chandra', 'gandi', 'Bapuji']

['Mohan', 'dash', 'karam', 'chandra', 'gandi', 'Bapuji']

5. Find the output of the following.
animal = ['Human','cat','mat','cat','rat','Human', 'Lion']
print(animal.count('Human'))
print(animal.index('rat'))
print(len(animal))

sol-

In [13]:
2
4
7

7

6.tuple1=(10,20,"Apple",3.4,'a',["master","ji"],("sita","geeta",22),[{"roll_no":1},{"name":"Navneet"}]A
E, print(len(tuple1)A
F, print(tuple1[-1][-1]["name"]A
], c)fetch the value of roll_no from this tuple,
R, d)print(tuple1[-3][1]A
c, fetch the element "22" from this tuple.

sol- (a) & (b)

In [15]:
tuple1 = (10, 20, "Apple", 3.4, 'a', ["master","ji"], ("sita","geeta",22), [{"roll_no":1},{"name":"Navneet"}])

In [17]:
print(tuple1[-2][2])  # Output: 22

22

In [19]:
print(len(tuple1))                 # 8
print(tuple1[-1][-1]["name"])       # Navneet
print(tuple1[-1][0]["roll_no"])     # 1
print(tuple1[-3][1])                # ji
print(tuple1[-2][2])                # 22

8
Navneet
1
ji
22

(7) What are the three main types of number data types in Python?

sol-1. Three main numeric data types in Python
int â†’ Integer values (whole numbers)

float â†’ Decimal numbers (floating-point values)

complex â†’ Numbers with a real and imaginary part

(8) Give examples of each of the numeric data types mentioned.

sol-

In [20]:
x = 10        # int
y = 3.14      # float
z = 2 + 5j    # complex

(9) How is the boolean data type related to the integer data type in Python?

sol- Boolean data type relation to integer
In Python, bool is a subclass of int.

True behaves like 1 and False behaves like 0

In [21]:
True + 5    # Output: 6
False * 10  # Output: 0

0

(10) What is the special significance of the boolean values True and False?

sol-Special significance of True and False
They are constants that represent truth values.

Used in conditions, loops, and logic operations.

Internally, True == 1 and False == 0.

(11) Explain the concept of sequence data types in Python.

sol-Concept of sequence data types
A sequence is an ordered collection of elements.

Supports indexing, slicing, and iteration.

Examples: list, tuple, string, range.

(12) What is the primary difference between a list and a tuple in Python?

sol-Difference between list and tuple
Feature	    List	                Tuple
Mutability	Mutable (can change)	Immutable (cannot change)
Syntax	    [ ]	                  ( )
Speed	      Slower               	Faster

(13) What is a set in Python, and what distinguishes it from a list?

soln-Set â†’ Unordered, mutable collection of unique elements.

Unlike lists, sets do not allow duplicates and have no index positions.

In [22]:
s = {1, 2, 3, 3}  # {1, 2, 3}

(14) Explain the purpose of using the None data type in Python.
sol- None is a special constant representing the absence of a value.

Used as a placeholder or default value for variables and function returns.
Example:

In [23]:
result = None
if result is None:
    print("No result yet.")

No result yet.

(15) How is a dictionary different from other data types in Python?

sol-Stores key-value pairs instead of single values.

Keys must be unique and immutable.

Access values by keys instead of indexes.

(16) Describe the syntax for creating a dictionary in Python.

In [24]:
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

(17) What is the significance of keys and values in a dictionary?

soln-Keys â†’ identifiers for data, must be unique and immutable.

Values â†’ actual data linked to keys, can be of any type.

(18) Explain the purpose of pop, popitem, and clear in a dictionary with suitable examples.

sol-

In [25]:
my_dict = {"name": "Alice", "age": 25, "city": "New York"}

my_dict.pop("age")     # Removes key "age", returns 25
my_dict.popitem()      # Removes and returns last inserted key-value pair
my_dict.clear()        # Removes all items, dictionary becomes {}

(19) Difference between discard and remove (in sets).

soln-remove(item) â†’ removes the element; raises an error if not found.

discard(item) â†’ removes the element; does nothing if not found.
Example:

In [26]:
s = {1, 2, 3}
s.remove(2)   # Works
# s.remove(5) â†’ KeyError
s.discard(5)  # No error

(20) What do you mean by FrozenSet? Explain with suitable examples.

soln-FrozenSet â†’ immutable version of a set.

Cannot add or remove elements after creation.
Example:

In [27]:
fs = frozenset([1, 2, 3])
# fs.add(4) â†’ Error (immutable)
print(fs)  # frozenset({1, 2, 3})

frozenset({1, 2, 3})

(21) Differentiate between mutable and immutable data types in Python with examples.

soln-Mutable (Can change)	Immutable (Cannot change)
list, dict, set	int, float, str, tuple, frozenset
Example: my_list.append(4) changes list	Example: "abc" + "d" creates new string